@{
    Layout = "_Layout";
    ViewData["Title"] = "Acceess Denied";
}

<h2 class="fw-bold text-danger mb-1">Access Denied</h2>
<span>You dont have valid permissions for this action. If you believe this is wrong please contact technical support.</span>
<br />
<a asp-action="Index" asp-controller="Home" asp-area="" class="btn btn-primary mt-2">Return Home</a>