@{
    Layout = "_Layout";
    ViewData["title"] = "About Page";
}

<div class="bg-secondary p-2 text-white">
    <h2>About</h2>
    <p>
        SportsPro Technical Support Constantly strives to provide the
        highest level of technical support for all products in the SportsPro Family
    </p>
</div>