@{
    Layout = "_Layout";
    ViewData["title"] = "Home Page";
}

<div>
    <h1>SportsPro Technical Support</h1>
    <p class="text-secondary">Sports management software for the sports enthusiast</p>
    <h2>Admin</h2>
    <ul class="list-unstyled ms-3 text-secondary">
        <li>Manage Products</li>
        <li>Manage Technicians</li>
        <li>Manage Customers</li>
        <li>Manage Incidents</li>
        <li>Manage Registrations</li>
    </ul>
    <h2>Technicians</h2>
    <ul class="list-unstyled ms-3 text-secondary">
        <li><a asp-action="Index" asp-controller="TechIncident" >Update Incident</a></li>
        
    </ul>
</div>
